@import "../../styles/index.scss";
.progress {
    // color: #fff;
    height: remB(60);
    @include flex-center();
    position: relative;

    .percent {
        width: 100%;
        height: 100%;
        position: absolute;
        left:50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: remF(30);
    }

    .done {
        height: 100%;
        background-color: #E84035;
    }

    .remaining {
        height: 100%;
        background-color: #FFA49C;
    }
}
@media (max-width: 576px) {
    .container {
        min-height: 100%;
        width: 100%;
        background-color: $bg-color;
        padding-bottom: remB(250);
    }
}

@media (min-width: 576px) {
    .container {
        min-height: 100%;
        width: remB(700);
        background-color: $bg-color;
        padding-bottom: remB(250);
        margin: 0 auto;
    }
}

.footer {
    padding: 0 remB(10);
    height: remB(80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    .back, .forward {
        width: remB(120);
        height: 80%;
        @include flex-center();
    }

    .back {
        border-right: 1px solid #e1e1e1;
    }
}

// .service-container {
//     margin-top: remB(100);
//     .service-desc {
//         color: $desc;
//         font-size: remF(20);
//         @include flex-center();

//         &:nth-child(2) {
//             margin-top: 0;
//         }
//     }
// }
